@media (max-width: 992px){
	#sup_nav{
		display: none;
	}
}

.pagination li{
	width: 100%;
}
.pagination li a{
	transition :color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	text-align: center;
	background-color: #ffc107 !important;
	color: #343a40 !important;
	font-weight: 600 !important;
	border-color: transparent;
}
.pagination li a:hover{
	background-color: #ffd65a !important;
    border-color: transparent;
}
.pagination .active a{
	color: white !important;
    border-color: transparent !important;
    background-color: #30a1b3 !important;
}
.pagination .active a:hover{
	color: white !important;
	background-color: #42b2c4 !important;
}
.pagination .disabled a{
	background-color: #505c65 !important;
    border-color: transparent !important;
    font-weight: 400 !important;
    color: #a4a4a4 !important;
}
.profile-pic{
    border: #bbbbbb 3px solid !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}
.pfl-username{
	font-weight: 500;
}
.font-weight-400{
	font-weight: 400;
}
.settings-icon{
	font-size: 1.3em !important;
}
.badges .badge{
	width: 48.7% !important;
}
.opaque{
	opacity: 0 !important;
}
#redirect{
	position:fixed;
	top:0;
	z-index:1099;
	height: 190px;
	margin-top: 6rem
}
.film-cart{
	width:2.6rem;
	height: 2.6rem;
}
.film-cart i{
	width:90%;
	text-align:center;
}
.cart-delete{
	text-decoration: none;
	border: #937f7f66 2px solid;
	border-radius: 2px;
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-weight: 800;
    background-color: #dc3545;
	color: white !important;
	transition-duration: 0.5s;
}
.cart-delete:hover{
	background-color: #ff5f5f;
	text-decoration: none;
}

footer{
	position: relative;
	bottom: 0;
}
.footer-fixed{
	position: fixed;
	bottom: 0;
}

footer .social-media {
	list-style: none;
}

footer .social-media i{
	width: 16px;
}

.label-out-stock {
	transition: 0.5s cubic-bezier(0, 0, 0.21, 1.07);
	background-color: #dc3545;
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: -3.5rem;
	text-align: center;
	bottom: -3rem;
	opacity: 0;
	color: aliceblue;
	font-weight: 600;
}

.film:hover .label-out-stock {
	opacity: 1;
	bottom: 8rem;
}